[submodule "robochart-textual"]
	path = robochart-textual
	url = git@github.com:UoY-RoboStar/robochart-textual.git
[submodule "robochart-metamodel"]
	path = robochart-metamodel
	url = git@github.com:UoY-RoboStar/robochart-metamodel.git
[submodule "robochart-assertions"]
	path = robochart-assertions
	url = git@github.com:UoY-RoboStar/robochart-assertions.git
[submodule "robochart-csp-gen"]
	path = robochart-csp-gen
	url = git@github.com:UoY-RoboStar/robochart-csp-gen.git
[submodule "robochart-graphical"]
	path = robochart-graphical
	url = git@github.com:UoY-RoboStar/robochart-graphical.git
[submodule "physmod-metamodel"]
	path = physmod-metamodel
	url = git@github.com:UoY-RoboStar/physmod-metamodel.git
	branch = physmod-physics-engine
[submodule "physmod-textual"]
	path = physmod-textual
	url = git@github.com:UoY-RoboStar/physmod-textual.git
	branch = physmod-physics-engine
[submodule "physmod-graphical"]
	path = physmod-graphical
	url = git@github.com:UoY-RoboStar/physmod-graphical.git
	branch = physmod-physics-engine
[submodule "physmod-eqnComp"]
	path = physmod-eqnComp
	url = git@github.com:UoY-RoboStar/physmod-eqnComp.git
	branch = main
[submodule "physmod-guidedChoice"]
	path = physmod-guidedChoice
	url = git@github.com:UoY-RoboStar/physmod-guidedChoice.git
	branch = main
