# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
    # tags:
    #   - 'v*'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Set version env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

      # - name: Set Maven package versions
      #   run: mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=${RELEASE_VERSION} 
  
      - name: Build with Maven
        run: mvn -Dtycho.version=2.7.5 -Dtycho-version=2.7.5 -B package --file pom.xml

      # - name: List P2 unit versions
      #   run: ./robotool-product/target/products/robotool.product/linux/gtk/x86_64/eclipse -application org.eclipse.equinox.p2.director -repository file:`realpath robotool-product/target/repository/` -list -lf "\${id} | \${version}" | grep -E '(circus\.|robostar|sirius|rcp)' | grep -v 'jar' > versions.md

      # - name: Read repository versions
      #   id: versions
      #   uses: juliangruber/read-file-action@v1
      #   with:
      #     path: ./versions.md

      # - name: Create Release
      #   id: create_release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     body: |
      #       RoboTool compiled and packaged as an Eclipse product using Eclipse tycho's Maven builder. 

      #       Note that binaries are not signed. In particular, when downloaded and extracted under macOS may need [dequarantining](https://superuser.com/questions/526920/how-to-remove-quarantine-from-file-permissions-in-os-x) using the command `xattr -d com.apple.quarantine Eclipse.app` to avoid a message saying that the binary is damaged.
            
      #       <details>
      #       <summary>Main feature versions</summary>
            
      #       Feature | Version
      #       --------|--------
      #       ${{ steps.versions.outputs.content }}
      #       --------|--------
            
      #       </details>
      #     files: |
      #       robotool-product/target/products/*.tar.gz
      #       robotool-product/target/products/*.zip
      #     draft: false
      #     prerelease: false
      #     make_latest: true
